* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  padding: 35px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 8px;
  text-align: center;
}

.card p {
  text-align: center;
  color: #666;
}

.card input {
  width: 100%;
  padding: 13px;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.card button {
  width: 100%;
  padding: 13px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-text {
  margin-top: 20px;
}

.register-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}